body {
    margin: 0;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.package {
    width: 50%;
    background: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    margin: 100px;
    box-sizing: border-box;
    position: relative;
}

.father {
    display: flex;
}

.left {
    width: 10%;
}

.right {
    width: 90%;
}

.box {
    border: 2px solid black;
    box-sizing: border-box;
}

.head {
    height: 30px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_head {
    height: 150px;
}

.third {
    height: 70%;
}

.fourth {
    height: 30%;
}

.right_main {
    height: 225px;
    display: flex;
}

.fifth {
    width: 90%;
}

.sixth {
    width: 10%;
}

.right_footer {
    height: 50px;
}

span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span_first {
    position: absolute;
    top: -10px;
    left: 52%;
}

.span_second {
    position: absolute;
    left: -10px;
    top: 20%;
}

.span_sixth {
    position: absolute;
    right: -10px;
    top: 50%;
}

.span_fifth {
    position: absolute;
    left: 52%;
}








@media screen and (max-width: 1000px){
    .right_main {
        height: 200px;
        display: flex;
        flex-direction: column;
    }

    .right_head {
        height: 175px;
    }

    .third {
        height: 40%;
    }

    .fourth {
        height: 60%;
    }

    .fifth {
        width: 100%;
        height: 60%;
    }

    .sixth {
        width: 100%;
        height: 40%;
    }

    .container {
        width: 100%;
        position: relative;
    }

    .head {
        width: 80%;
        position: relative;
        left: 21%;
    }

    .left {
        width: 25%;
        height: 120px;
        position: relative;
        top: -29px;
    }

    .span_first {
        left: 45%;
    }

    .span_second {
        top: 40%;
    }

    .span_fifth{
        left: 55%;
    }

    .span_sixth {
        position: relative;
        left: 45%;
    }
}




@media screen and (max-width: 900px){
    .right_head {
        height: 150px;
    }

    .left {
        height: 90px;
    }


    .third {
        height: 40%;
    }

    .fourth {
        height: 60%;
    }

    .right_main {
        height: 235px;
    }

    .right_footer {
        height: 40px;
    }

    .fifth {
        height: 50%;
    }

    .sixth {
        height: 50%;
    }
}