body {
    margin: 0;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.container {
    width: 40%;
    position: relative;
}

.grey {
    background: dimgrey;
    border: 4px solid white;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    height: 50px;
}

.logo, .header {
    background: dimgrey;
    border: 4px solid white;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.logo, .nav  {
    width: 20%;
}

.header, .section {
    width: 80%;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.nav {
    height: 250px;
}

.store, .tools {
    height: 50px;
}

.section {
    display: flex;
    flex-wrap: wrap;
}

.intro, .ad {
    height: 100px;
}

.intro, .types {
    width: 80%;
}

.ad, .products {
    width: 20%;
}

.types, .products {
    height: 250px;
}

.footer {
    height: 75px;
}

.article {
    width: 20%;
    height: 100px;
    position: absolute;
    bottom: 75px;
}




@media screen and (max-width: 1000px){
    .main {
        display: flex;
        flex-direction: column;
    }

    .nav {
        width: 100%;
        height: 50px;
    }

    .section {
        width: 100%;
    }

    .intro {
        width: 70%;
    }

    .ad {
        width: 30%;
    }

    .types {
        width: 100%;
    }

    .products {
        height: 100px;
        width: 100%;
    }

    .article {
        height: 50px;
        width: 100%;
        position: relative;
        bottom: 0;
        display: flex;
    }

    .store, .tools {
        height: 50px;
        width: 50%;
    }

}